body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: flex;
  top: 0%;
  left: 0%;
  width: 80%;
  height: 80%;
  padding: 40px;
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transform: scale(0.95);
  transition: transform 0.3s ease;
  display: flex;
}

.container:hover {
  transform: scale(1);
}
.dark-mode {
  background-color: #575757;
  color: #f0f0f0;
}
.dark-mode .body,
.dark-mode .about,
.dark-mode .project,
.dark-mode .overlay,
.dark-mode .button,
.dark-mode .overlay-content {
  background-color: #383838;
  color: #fff;
}


.sidebar {
  flex-basis: 45%;
  padding-right: 20px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transform: rotate(-2deg);
  transition: transform 0.3s ease;
}

.profile-img:hover {
  transform: rotate(0deg) scale(1.05);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}

.about {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.about {
  transition: transform 0.3s ease;
}

.about:hover {
  transform: translateY(10px); /* Schweben-Effekt */
}

.projects {
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}

.project {
  background-color: #f8f8f8;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-left: 80px;
}

.project:hover {
  transform: scale(1.09);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}

.project h2 {
  margin-top: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: text-shadow 0.3s ease;
}

.project:hover h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.project p {
  color: #666;
}

.project a {
  display: inline-block;
  padding: 8px 12px;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-decoration: none;
}

.project a:hover {
  transform: scale(1.16);
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(0.9);
  transition: transform 0.3s ease;
  position: relative;
}

.overlay.active .overlay-content {
  transform: scale(1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  max-height: 50%;
  width: auto;
  height: auto;
  padding: 40px;
  margin: 10px;
  overflow-y: auto;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(5px)
}

 .overlay.active .overlay-content img {
         max-width: 100%;
         max-height: 100%;
      }
      .overlay.active .overlay-content i {
         margin-right: 5px;
      }

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-icon {
  position: relative;
  width: 100%;
  height: 100%;
}

.close-icon:before,
.close-icon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #000;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: background-color 0.3s, transform 0.3s;
}

.close-icon:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-btn:hover .close-icon:before,
.close-btn:hover .close-icon:after {
  background-color: #a30b0b;
  transform: translate(-50%, -50%) rotate(45deg) scale(1.1);
}

.close-btn:hover .close-icon:after {
  transform: translate(-50%, -50%) rotate(-45deg) scale(1.1);
}

.sidebar .about + .links {
  margin-top: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  display: inline-block;
  padding: 8px 12px;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-decoration: none;
  width: auto;
  margin-bottom: 10px;
}

.button:hover {
  transform: scale(1.16);
}

.button:focus {
  outline: none;
}

.search {
  margin-bottom: 20px;
  margin-left: 80px;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  width: 80%;
  background-color: #f0f0f0;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.search:hover {
  transform: translateY(-5px);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}

.search input {
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 100%;
}

.search input:focus {
  outline: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 880px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .sidebar {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .about,
  .links {
    margin-left: 0;
  }

  .projects {
    flex-basis: 100%;
  }

  .project {
    margin-left: 0;
  }

  .search {
    margin-left: 0;
    width: 98%;
    border-radius: 30px;
  }

  .search input {
    width: 98%;
        border-radius: 30px;
  }
}
